<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GroqAPIKey</key>
    <string>YOUR_GROQ_API_KEY_HERE</string>
    <key>TTSModel</key>
    <string>canopylabs/orpheus-v1-english</string>
    <key>TTSVoice</key>
    <string>daniel</string>
    <key>SpeechRate</key>
    <real>1.0</real>
</dict>
</plist>
